@import "active.css";

window {
    background: @base;
    border-radius: 13px;
    border-style: solid;
    border-width: 3px;
    border-color: @crust;
}

#box {
    /* Define attributes of the box surrounding icons here */
    padding: 13px;
}

#active {
    /* This is to underline the button representing the currently active window */
    border-bottom: solid 3px;
    border-color: @mauve;
}

button,
image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: #999;
}

button {
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
    color: @text;
    font-size: 12px;
}

button:hover {
    background-color: @surface1;
    border-radius: 3px;
}

button:focus {
    box-shadow: none;
}
